body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #030c13;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 20%;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    border: solid;
    border-color: #ffffff;
    border-width: 1px;
    font-family: 'Josefin sans';
    font-size: 25px;
    transition: width 0.3s ease-in-out;
}

header h1 {
    font-size: 50px;
    color: #002643;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.menu li {
    position: relative;
}

.menu a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #fff;
}

.menu li:hover {
    background-color: #002643;
}

.submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #333;
    flex-direction: column;
}

.menu li:hover .submenu {
    display: flex;
}

.submenu a {
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

/* Styles pour petits écrans */
@media screen and (max-width: 768px) {
    header {
        width: 20%; /* Réduire la largeur du header */
        font-size: 18px; /* Réduire la taille de la police */
    }

    header h1 {
        display: none; /* Masquer le titre principal */
    }

    .menu a {
        padding: 10px; /* Ajuster le padding des liens */
    }

    .menu li {
        align-items: center;
    }

    .menu li a::before {
        content: attr(data-logo); /* Utiliser l'attribut data-logo comme contenu */
        display: inline-block;
        font-size: 20px; /* Taille du logo */
        margin-right: 10px;
    }

    .menu li a span {
        display: none; /* Masquer le texte du lien */
    }
}


#scroll_to_top {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 50px;
    right: 50px;
    z-index: 1000; /* Place it above other elements */
    cursor: pointer;
   
}

#scroll_to_top img {
    width: 80px;
}


#scroll_to_top img {
    width: 80px;
    height: 80px;
}

html {
    scroll-behavior: smooth;
}

#scroll_to_top:hover{
    scale: 1.1;
}

main {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    flex: 1;
}

footer {
    background-color: #222222;
    color: #fff;
    padding: 1em;
    text-align: center;
    font-family: 'Josefin sans';
}

.section1 {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    min-height: 100vh;
}

.section1-image img {
    margin-right: 0;
    height: 100%;
    max-height: 700px;
    width: 100%;
    max-width: 300px;
}



.section1-text {
    flex: 1;
    align-self: flex-start;
    color: white;
    font-family:'Josefin sans';
}

.Prenom {
    margin-left: 20%;
    font-size: 120px;
    font-family: "Bebas Neue";
    font-weight: bold;
    margin-top: 0%;
}

.contact{
    margin-left: 50px;
    font-family: "Archivo Black";
    font-weight: lighter;
    margin-top: 20px;
    color: white;
}
.etudiant{
    margin-left: 20%;
    font-size: 30px;
    color: #002643;
    margin-top: 10px;
    font-family:'Archivo Black';
    
}
.bonjour{
    margin-left: 20%;
    margin-top: 15%;
    font-size: 40px;
    font-family:"Teko";

}
.alternance{
    margin-left: 20%;
    margin-top: 2%;
    font-size: 25px;
}

.Bouton_cv {
    margin-left: 20%;
    background-color: #002643; 
    color: #fff; 
    padding: 10px 20px; 
    font-size: 25px; 
    border: none; 
    cursor: pointer; 
    border-radius: 100px;
    font-family: "Bebas Neue";
}

.Bouton_cv:hover {
    background-color: #555;
}

.section2 {
    background: linear-gradient(#030c15, #030c20);
    padding: 20px;
    color: rgb(177, 173, 173);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section2-image {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}
.section2-image img {
    width: 300px;
    margin-top: 10%;
    box-sizing: border-box;
    border-radius: 50%;
    border: solid;
    border-width: 5px;
    border-color: #002643;
}

.section2-text {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 10%;
    flex-direction: column;
    font-family:'Josefin sans';
    font-size: 22px;
    text-align: justify;

}

@media screen and (max-width: 768px) {
    .section2 {
        flex-direction: column; 
    }

    .section2-text {
        padding: 5%;
        margin-left: 5%;
        margin-right: 5%;
        max-height: 500px; 
    }

    .section2-image {
        height: auto; 
        width: 100%; 
    }
}
.section2 h2{
    font-family: "Bebas Neue";
    font-size: 30px;
    color: white;
    
}
.blanc-texte {
    color: white;
}
.section2 h3{
    font-family: "Bebas Neue";
    font-size: 40px;
    color: white;
    margin-top: -10%;
}
.section2 h4{
    font-family:'Josefin sans';
    font-size: 18px;
    margin: 5%;
}

.section3 hr{
    margin-top: 5%;
}
.section3 {
    background: linear-gradient(#030c20, #030c30);
    padding: 20px;

}

.section3 h2{
    font-family: "Bebas Neue";
    font-size: 40px;
    color: white;
    align-items: center;
}

.frise {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bulle-contenu {
    width: 30%;
    margin-bottom: 20px;
}

.bulle {

    transition: background-color 0.7s, transform 0.7s;
    position: relative;
    width: 100%;
    min-height: 300px;
    height: 400px ;
    box-sizing: border-box; 
    background-color: #9b9797;
    border-radius: 10%;
    overflow: hidden;
    cursor: pointer;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: solid;
    border-width: 5px;
    border-color: #002643;
}

.bulle:hover {
    background-color: #dcdcdc;
    background-color: #c5c5c5;
    transform: scale(1.05);
}

.période {
    font-family:'Archivo Black';
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 2vh;
}

.bulle span {
    font-family:"Teko";
    font-style: italic;
    color: #555;
}
.ville{
    font-size: 18px;
    color: #002643;
}
.bulle-text {
    opacity: 0;
    transition: opacity 0.3s;
    font-family:'Josefin sans';
    font-size: 18px;
    text-align: center;
    
}

.bulle:hover .bulle-text {
    opacity: 1;
    color: rgb(0, 0, 0);
    font-family:'Josefin sans';
    font-size: 2vh;
    line-height: 1.4;
    text-align: center;

}

@media screen and (max-width: 900px) {
    .frise {
        flex-direction: column; 
        
    }

    .bulle-contenu{
        width: 80%;
    }


}

.section4 hr{
    margin-top: 5%;
}

.section4 {
    background: linear-gradient(#030c30, #030c15);
    padding: 20px;
    color: #fff;
}

.section4 h2 {
    margin-top: 0px;
    font-family: "Bebas Neue";
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 20px;
}

.experience {
    margin-bottom: 40px;
}

.experience b {
    font-size: 20px;
    color: #002643;
    font-family:'Archivo Black';
    color: rgb(177, 174, 174);
}

.experience p {
    font-size: 18px;
    line-height: 1.6;
    margin-top: 5px;
    font-family:'Josefin sans';
    font-size: 18px;
    text-align: justify;
    color: rgb(177, 173, 173);
}

.experience span {
    font-family: "Teko";
    font-style: italic;
    color: #555;
    font-size: 20px;
}



.section5 {
    background-color: #ef9a85;
    padding: 20px;
    color: #fff;
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
}

.competence-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.competence {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: calc(33.33% - 40px); /* Three columns layout */
}

.icone {
    width: 150px;
    height: 150px;
}

/* Styles pour les petits écrans */
@media screen and (max-width: 768px) {
    .competence {
        width: 80%; /* Largeur des compétences sur petits écrans */
    }

    .icone {
        width: 80px; /* Taille ajustée des icônes */
        height: 80px;
    }

    .nom_competence {
        font-size: 16px;
    }
}

.section5 h2 {
    font-family: "Bebas Neue";
    font-size: 40px;
    color: #002643;
    margin-bottom: 20px;
}


.nom_competence {
    font-family: "Bebas Neue";
    font-size: 30px;
    color: #fff;
    margin-top: 10px;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.description{
    font-family: "Bebas Neue";
    font-size: 25px;
    color: #585656;
    margin-top: 5px;
    opacity: 0;
    margin-left: 10px;
    transition: opacity 0.3s; 
}

.competence:hover .description {
    opacity: 1;
}

.competence:hover .nom_competence {
    opacity: 1;
}

.section6 {
    background-color: #000000;
    color: white;
}

.section6 h2{
    margin-left: 2%;
    font-family: "Bebas Neue";
    font-size: 60px;
    color: #ffffff;
    margin-bottom: 20px;
}

.section6 p{
    font-size: 20px;
    line-height: 1.6;
    margin-top: 5px;
    font-family:'Josefin sans';
    font-size: 22px;
    text-align: justify;
    color: rgb(177, 173, 173);
}
.projet-container {
    display: flex;
    flex-direction: column;
}

.projet {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}


.nom_projet{
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 25px;
    color: white;
    font-family:'Archivo Black';

}
.projet-text {
    flex: 1;
    margin-left: 5%;
    margin-right: 5%;
}

.projet-images {
    overflow: hidden;
    height: 80%; 
    width: 50%;
}

.carousel {
    box-sizing: border-box;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 80px;
    display: flex;
    transition: transform 0.5s ease-in-out;
}



.slide {
    margin: 10px;
    flex: 0 0 auto;
    height: 600px;
    
}

#slide1 { order: 0; }
#slide2 { order: 1; }
#slide3 { order: 2; }
#slide4 { order: 3; }
#slide5 { order: 4; }

@keyframes scroll {
    0%,100% { transform: translateX(0); }
    25% { transform: translateX(-133%); }
    50% { transform: translateX(-266%); }
    75% { transform: translateX(-400%); }
}


.carousel {
    animation: scroll 20s linear infinite;
    pointer-events: none;
}

.projet-images:hover .carousel {
    animation-play-state: paused;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}


@media screen and (max-width: 768px) {
    .projet {
        flex-direction: column; /* Change la direction de flex pour empiler les éléments */
    }

    .projet-text {
        padding: 5%;
        margin-left: 5%;
        margin-right: 5%;
        overflow-y: scroll;
        max-height: 500px; 
    }

    .projet-images {
        height: 50%; /* Ajuste la hauteur des images en fonction de leur taille */
        width: 100%; /* Assure que les images prennent toute la largeur */
        margin-bottom: 20px; /* Ajoute de l'espace en bas des images */
    }
}

.section7 {
    background-color: #333;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.section7 div {
    text-align: center;
}

.section7 h2 {
    font-family: "Bebas Neue";
    font-size: 45px;
    color: #ffffff;
    width: 100%;
    margin-bottom: 10px;
}

.section7 img {
    height: 150px;
    margin: 10px;
    transition: transform 0.3s;
}

.section7 img:hover {
    transform: scale(1.2);
}

.section7 p {
    color: #ffffff;
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Josefin sans';
}

.section7 div:hover p {
    color: #ef9a85;
}
